<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTestsSuite">
    <test name="Proiect testare">
        <classes>
            <class name="UseCaseTesting.TestLogin"/>
            <class name="UseCaseTesting.SearchTest"/>
            <class name="UseCaseTesting.AddToCartTest"/>
        </classes>
    </test>
</suite>